/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require markdown
 */
@import "bootstrap-sprockets";
@import "bootstrap";
 
@font-face {
  font-family: 'Marker';
  src:font-url('Marker.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  background: image-url('paper-bkg.jpg') repeat center;
}

#wrapper {
  min-height: 100%;
  height: auto;
  padding: 0 0 60px;
  margin: 0 auto -60px; 
}

h1, h2, .h2 {
  font-family: 'Marker';
}

h1 {
  margin: 0;
  font-size: 22px;
}
.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0px;
}
.navbar-default .navbar-nav {
  li{
    a {
    color: white;
    }
  }
  :hover {
    background-color: rgba(42, 0, 116, .3);
  }
}
.navbar-default {
  background-color: rgba(42, 145, 116, 1); 
  display: block;
}

.navbar-brand{
  h1 {
    color: white;
  }
}

footer {
  clear: both;
  bottom: 0;
  padding: 5px;
  background-color: rgba(42, 145, 116, 1);
  color: white;
  font-size: 11px;
  height: 60px;
   a {
    color:white;
   }
}

#footer_icon {
  float: left;
  margin: 8px 25px 8px 10px;
}

.footer_text {
  display: block; 
  margin-top: 2px;
}