// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category_show {
  background: rgba(111, 167, 152, 0.1);
  border:  20px solid rgba(111, 167, 152, 0.0);
  border-bottom: 0;
  h1, h2 {
    color: #eea236;
    }
  ul {
    padding: 0;
    list-style-type: none;
  }
  min-height: 730px;
}