// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// #filters {
//   display: inline-block;

// }

// #questions_list {
//   float: right;
//   width: 40%;
//   margin-right: 300px;
// }

// #question, #answers {
//   width: 70%;
//   margin: 40px auto;
// }

// .question_answer {
//   border: 3px solid black;
//   margin-bottom: 20px; 
// }

// textarea {
//     width: 40em;
//     height: 10em;
// }

#questions_landing {
  padding: 25px 0px;
  .h2 {
    color: #eea236; 
  }
}
.question_answer{
  border-bottom:  2px groove rgba(111, 167, 152, 0.3);
  background: rgba(111, 167, 152, 0.1);
  border-radius: 10px;
  padding: 15px;
  .answer_date {
    float: right;
    font-style: italic;
    font-size: 12px;
  }
  .answer_author {
    font-weight: bold;
    font-size: 16px;
    color: rgba(42, 145, 116, 1);
  }
  p {
    margin-left: 20px;
  }
}

#new_answer {
  padding: 15px;
}
.question_new {
  li {
    display: inline;
  }
}
.questions_index, .question_show, .question_new {
  background: rgba(111, 167, 152, 0.1);
  border:  20px solid rgba(111, 167, 152, 0.0);
  border-bottom: 0;
  h1, h2 {
    color: #eea236;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  min-height: 730px;
}

#question{
  background: rgba(111, 167, 152, 0.3);
  padding: 15px;
  border-radius: 10px;
}
#filters, #questions_list {
  background: rgba(111, 167, 152, 0.3);
}

#questions_list{
  border-top-right-radius: 40px;
  min-height: 723px;
  h2 {
    font-size: 16px;
  }
  h4 {
    margin-top: 40px;
  }
  float: left
}
#filters {
  border-right: 3px dashed #fff;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-bottom: 10px;
}

.result_count {
  font-style: italic;
  font-size: 12px;
}

#search-form{
  font-size: 18px;
}