// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#whiteboard_pic, #search_create_question {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

#whiteboard_pic {
  height: 300px;
  background-color: grey;
}

#search_create_question {
  form, button {
    display: inline-block;
  }
}

#landing_main {
  margin: 0 auto;
  width: 90%;
  section {
    display: inline-block;
  }
  #questions_landing{
    margin: 0 250px;
    vertical-align: text-top;
  }
}