// // Place all the styles related to the welcome controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
.category_list {
  text-align: left;
  padding: 5px 20px;
  border-top: 3px dashed #fff;
  .author{
    text-align: right;
  }
}

#questions_landing {
  background: rgba(111, 167, 152, 0.3);
  h2 {
    color: #eea236;
  }
}
.carousel_img {
  max-height: 450px;
  margin: 0 auto;
}

#banner_carousel {
  background: image-url('whiteboard-puzzle.jpg') no-repeat;
  max-width: 100%;
  background-size: cover;
  margin-left: 0;
}

#questions_landing {
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#landing_main {
  background: rgba(111, 167, 152, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 15px;
  padding-bottom: 0px;
}

.category_row, .user_row, .category_list {
  cursor: pointer;
  &:hover {
    background: rgba(111, 167, 152, 0.2);
  }
}

#search_create_question{
  margin-top: 20px;
  margin-bottom: 20px;
}

#q_search_landing{
  height: 2.2em;
  font-size: 18px;
}

.search_create_element {
  margin: auto 10px;
}

#ask_question {
  font-family: 'Marker';
  font-size: 18px
}